# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.VertigoUnityTutorial.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\10-TutorialSources\unityworkspace\VertigoUnityTutorial\.idea\.idea.VertigoUnityTutorial.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
